body,html {
	width: 1024px;
	padding: 0px;
	margin: 0px auto; /*设置居中  */
	text-align: center; /*兼容性更好  */
}


a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.body {
	width: 100%;
	height: auto !important;
	margin: 0 auto;
	margin-top: 0px;
	text-align: left;
	background-repeat: no-repeat;
}

.top {
	width: 100%;
	height: 120px;
	float: center;
}

.center {
	text-align:center;
	width: 100%;
	min-height:400px;
	margin: 0 auto;
	overflow:auto;
	float: center;
}



table{
	vertical-align:middle;
	width: 1000px;
	border-collapse:collapse;
} 
.tablecontent td{
	border:1px solid silver;
	text-align: center;
	min-width: 60px;
}

.news-detail{
	text-align:left;
}
